@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
.card{
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 0px 5px 10px #702525;
    font-family: "Big Shoulders";
}
.card img{
width: 100%;
}
.card h1{
    text-align: center;
    color: aqua;
    font-size: 30px;
}
.card h2{
    font-size: 15px;
}
.card-content{
padding: 0px 20px 0px 20px;
}